.cell{
    width: 125px;
    height: 125px;
    border: 7px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 90px;
    cursor: pointer;
    text-align: center;
}
#cellcontainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 400px;
    margin:auto
}
#restartBtn{
    margin:auto;
    border-radius: 2px;
    cursor: pointer;
}
#gamecontainer{
    font-family:  cursive;
    text-align: center;
    font-size: larger;
}